body {
  background-color: rgb(239, 205, 160);
  display: flex;
  justify-content: center;
}

#ToDoList {
font-family: fantasy;
text-align: center;
font-size: 1.6rem;
letter-spacing: 2px;
}

input {
  width: 24rem;
  height: 1.6rem;
  margin-top: 1.6rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid;
  background-color: rgb(239, 205, 160);
}

button {
  cursor: pointer;
  background-color: rgb(182, 132, 89);
}

.bock {
  box-shadow: 4px 4px 10px grey;
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  margin-left: 5px;
}

#buttons {
  display: flex;
  flex-direction: column;
}

.rensa {
  width: 25rem;
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  color: back;
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
}

.läggTill:hover, .rensa:hover {
  background-color: rgb(139, 102, 70);
  transition: 0.4s;
}

.läggTill {
  width: 25rem;
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  color: back;
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
}

