body {
  background-image: url(51CAC1D9-8728-4C75-907E-3D9933970CE1.jpeg);
  display: flex;
  justify-content: center;
  gap: 6rem;
}

#Listsida {
margin-top: 2rem;
width: 30rem;
}

#ToDoList {
font-family: fantasy;
text-align: center;
color: rgb(108, 97, 84);
font-size: 1.6rem;
letter-spacing: 2px;
}

.lista {
  caret-color: rgb(108, 97, 84);
  width: 23.5rem;
  height: 1.6rem;
  margin-top: 1.6rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid;
  background-color: rgba(0,0,0,0);
}

button {
  cursor: pointer;
  background-color: rgb(176, 140, 108);
}

.bock {
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  margin-left: 5px;
}

#buttons {
  display: flex;
  flex-direction: column;
}

.rensa, .rensaNotes, .läggTill {
  margin-left: 1.2rem;
  width: 25rem;
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  color: black;
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
}

.läggTill:hover, .rensa:hover, .rensaNotes:hover {
  background-color: rgb(139, 102, 70);
  transition: 0.4s;
}


.minus {
  border: none;
  background-color: rgba(0,0,0,0);
}

.minus:hover {
  cursor: pointer;
}

#notes {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.notesHeader {
font-family: fantasy;
color: rgb(108, 97, 84);
font-size: 1.6rem;
letter-spacing: 2px;
}

.text {
  caret-color: rgb(108, 97, 84);
  border-radius: 1rem;
  border: none;
  margin-top: 2rem;
  width: 26.5rem;
  height: 30rem;
  padding: 10px;
  font-size: 1.2rem;
  overflow-y: auto;
  line-height: normal;
  white-space: pre-wrap;
  vertical-align: top;
  resize: none;
}

.text:focus {
  outline: 2px solid rgb(108, 97, 84);
  
}
